

params {
  inputDir = "/home/stan/git-repos/FungiPhyloGen/test"
  readsDir = "/home/stan/fungal-genomics/test-data/raw"
  resultsDir = "$inputDir/results"
  sampleFile = "$inputDir/sample_file.csv"
  refseq = ""
}

params.cacheDir = "$HOME/anaconda3/envs"
params.PICARD = "$params.cacheDir/fpgAlign/share/picard-2.27.4-0"

/*
conda {
  params.cacheDir = "$HOME/anaconda3/envs" 
  //Defines the path where Conda environments are stored. 
  //When using a compute cluster make sure to provide a shared file system path accessible from all compute nodes.

}
*/

/*
executor {
  name


}
*/
