

params {
  inputDir = "/scratch/sysuser/stanford/fpg_test3"
  readsDir = "/scratch/sysuser/stanford/test-data/reads/reads" // "/scratch/sysuser/stanford/test-data/raw"  // "/home/stan/fungal-genomics/test-data/raw" // "/scratch/sysuser/stanford/test-data/fastq"
  resultsDir = "$inputDir/results"
  index = "$inputDir/sample_file2.csv"  // "$inputDir/sample_file.csv"
  refseq = ""
  gbk = ""
  ploidy = 1
  threads = 12
  prjName = "PRJ01"
}

workDir = "$params.inputDir/work"

params.cacheDir = "/scratch/sysuser/stanford/.conda/envs" //"$HOME/anaconda3/envs"
params.condaPath = "/scratch/package/anaconda/anaconda3_2023-02-27/envs"
params.PICARD = "$params.cacheDir/fpgAlign/share/picard-2.27.4-0"

process.executor = 'slurm'

executor {
    name = 'slurm'
    queueSize = 20
    submitRateLimit = '3 sec'
    
}


conda.enabled = true

/*
conda {
  params.cacheDir = "$HOME/anaconda3/envs" 
  //Defines the path where Conda environments are stored. 
  //When using a compute cluster make sure to provide a shared file system path accessible from all compute nodes.

}
*/


/*
profiles {

    standard {
        process.executor = 'local'
        process.cpus = 5
        process.memory = '10GB'
    }

    cluster {
        process.executor = 'slurm'
        //process.queue = 'main'
        //process.memory = '10GB'
    }
}
*/


/*
executor {
  name


}
*/
