

params {
  inputDir = ""
  resultsDir = "$inputDir/results"
  bcftl = "$resultsDir"
  samplesheet  = "$inputDir/samplesheet.csv" 
  refseq = "$inputDir/ref/GCF_002775015.1_Cand_auris_B11221_V1_genomic.fna"
  gbk = "$inputDir/ref/genomic.gbff"
  ploidy = 1
  threads = 12
  prjName = "PRJ01"
  genus = "default" // "cauris" 
  cleanreadsDir = ""
  readsDir = "" 
  index = ""
  skip_trimming = false  
  // Use --skip_trimming true if you are using previously filtered reads



  // Define all bcftools filter expressions here
  filters = [
        'default'    : 'TYPE="snp" && QUAL>=30 && MQ>=40 && INFO/DP>=10 && FS<=60.0 && SOR<=3.0 && QD>=2.0',
        'cparapsilosis' : 'TYPE="snp" && QUAL>=30 && MQ>=40 && INFO/DP>=10 && FS<=60.0 && SOR<=3.0 && QD>=2.0',
        'cauris'     : 'TYPE="snp" && QUAL>=30 && MQ>=40 && INFO/DP>=10 && FS<=60.0 && SOR<=3.0 && QD>=2.0',
        'wanomalus'  : 'TYPE="snp" && QUAL>=30 && MQ>=40 && INFO/DP>=10 && FS<=60.0 && SOR<=3.0 && QD>=2.0 && INFO/AF>=0.9',
        'cneoformans': 'TYPE="snp" && QUAL>=30 && MQ>=40 && INFO/DP>=10 && FS<=60.0 && SOR<=3.0 && QD>=2.0 && INFO/AF>=0.9'
        // You can add more lenient or stringent profiles here if needed
  ] 

 
}

workDir = "$params.inputDir/work"

params.cacheDir = "/scratch/package/anaconda/anaconda3_2023-02-27/envs" 
params.condaPath = "/scratch/package/anaconda/anaconda3_2023-02-27/envs"
params.PICARD = "$params.cacheDir/fpgAlign/share/picard-2.27.4-0"

process.executor = 'slurm'

executor {
    name = 'slurm'
    queueSize = 10
    submitRateLimit = '3 sec'
    
}


conda.enabled = true


// nextflow run ~/git-repos/FungiPhyloGen/main_fpg.nf --refseq $refseq --gbk $gbk --prjName "FPG-TEST" -c $config -with-conda true -resume

/*
conda {
  params.cacheDir = "$HOME/anaconda3/envs" 
  //Defines the path where Conda environments are stored. 
  //When using a compute cluster make sure to provide a shared file system path accessible from all compute nodes.

}
*/


/*
profiles {

    standard {
        process.executor = 'local'
        process.cpus = 5
        process.memory = '10GB'
    }

    cluster {
        process.executor = 'slurm'
        //process.queue = 'main'
        //process.memory = '10GB'
    }
}
*/


/*
executor {
  name


}
*/
